.home-page{
    .text-zone{
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
        max-height: 90%;
        z-index: 2;
    }
    
    .dots-background{
        position: absolute;
        top: 15%;
        right: 38%;
        width: 25%;
        height: 25%;
        z-index: 0;
        cursor: crosshair;
      }
      
      .grid{
        display: grid;
        width: 25%;
        height: 25%;
        align-items: center;
        justify-items: center;
        grid-gap: 10px; 
      }
      
      .dot-point{
        width: 10px; 
        height: 10px;
        background-color: #368f8b; 
        border-radius: 50%;
        opacity: 1 !important;
        transition: background-color 0.3s ease, transform 0.3s ease;
      }
      
      .group:hover .dot-point{
        background-color: #E9C46A;
      }

      @media (max-width: 768px){
        .dots-background{
          display: none;
        }
  
      }

    @media (max-width: 576px){

      }

    h1{
        color: #e0fbfc;
        font-size: 53px !important;
        margin: 0;
        font-size: 30px;
        font-weight: 600;
    }

    h2{
        color: #368f8b;
        margin-top: 20px;
        font-weight: 800;
        font-size: 30px;
        text-decoration: none;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button{
        color: #368f8b;
        font-size: 20px;
        font-weight: 800;
        letter-spacing: 2px;
        text-decoration: none;
        margin-top: 25px !important;
        float: left;
        padding: 10px;
        animation: fadeIn 1s 1.8s backwards;
        border: 3px solid #368f8b;
        border-radius: 5px;

        &:hover{
            background-color: #368f8b;
            color: #e0fbfc;
            border: 3px solid #368f8b ;
            border-radius: 5px;

            svg{
              stroke: white !important;
            }
        }
    }

    .links{
      padding-top: 10px;
      margin-left: 0px;
      svg{
        margin-right: 10px;
        margin-left: 0px;
      }
    }

    .links a{
      animation: fadeIn 1s 2s backwards;
    }

}

