.work-heading {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-left: -57%;

    @media (max-width: 768px){
        margin-left: 20%;
    }

    @media (max-width: 576px){
        margin-left: -20%;
    }
}


.timeline{
    margin-top: 20%;
    margin-left: 30%;

    h3{
        font-size: 35px;
    }

    h4{
        font-size: 25px;
        color: #368f8b;
    }

    p{
        font-size: 16px !important;
        text-align: justify;
        text-justify: inter-word;
    }

    b{
        font-weight: 800;
        text-decoration: underline;
    }

    @media (max-width: 768px){
        margin-top: 80%;
        margin-left: 0%;
    }

    @media (max-width: 576px){
        margin-top: 80%;
        margin-left: 0%;
    }
}

.timeline-date {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 25px !important;
    color: #368f8b;
    top: -10px !important; /* Moves the date up */
    margin-bottom: -20px  !important; /* Ensures proper spacing */
}
